html {
    scroll-behavior: smooth;
}

/*The below removes that default margin: 8px */  
* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    margin: 0;
    letter-spacing: 1px;
    letter-spacing: 1px;
    line-height: 1;
}

section{
    padding: 5em 2em; /* Equivalent 80px  32*/
    height: 100vh; /* vh: 1/100th of the height of the viewport */
}

:root {
    --main-background-color: #F8F8F8;
    --colour-1: #212121;
    --colour-2: rgba(153,153,153,.7);
    --colour-3:  rgb(0 0 0 / 0.2);
    --colour-4: #367588; /*Teal blue*/
    --colour-5: #F5F5F5; /*White Smoke*/
    --colour-6: #1F70C1;
}

/* Typography */
h1, h2, a, p {
    font-family: 'Lato' ,Helvetica, sans-serif;
    margin-bottom: 25px;
    color: rgba(0,0,0,0.45);
}

h1{
    font-size: 75px;
    color: #F5F5F5;
}

h2 {
    font-size: 55px;
}

p{
    font-size: 24px;
}

/* Links */
a, li {
    font-size: 15px;   
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.45);
    font-weight: bolder;
}

li {
    list-style-type: none;
    padding: 5px 10px;
    /* background-color:#fff;
    border: solid #fff 1px;
    border-radius: 25px;
    border-width: 15px; */
}



/* Navigation Bar */
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
    float: left; 
    text-transform: uppercase;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 30px;
}

.nav-link{
    transition: 0.3s ease-out;
}
.nav-link:hover{
    color: #CDCDCD;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3x ease-in-out;
    transition: all 0.3x ease-in-out;
    /* background-color: var(--colour-5); */
    background-color: rgba(0,0,0,0.45);
}


/* ABOUT section */

#about{
    position: relative;
    display: flex;
}

.about {
    background-image: url("img/homepage.jpg");
    background-size: cover;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 40px;
}
.image-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image-container img {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}


.text-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 15px;
    text-align: left;
}


/* SKILLS Section */
.skills{
    justify-content: center;
    text-align: center;
}

.skills-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px;
    height: 400px;
    width: 100%;
    text-align: center;
}


.skills-container img{
    margin-top: 8px;
    vertical-align: middle;
    width: 35%;
}


/* EXPERIENCE section */

  




/* PROJECT section */
.projects{
    background-color: #8dcdf4;
    justify-content: center;
    text-align: center;
}


.projects-container {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px;
    height: 400px;
    width: 100%;
    text-align: center;
}

.projects-container .col{
    box-shadow: 0 3px 10px var(--colour-3);
    margin-bottom: 16px;
    padding: 16px;  
    background-color: #F8F8F8;
}


/* CONTACT section */
.contact {
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact::after{
    content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	/* background: url("img/teal_background.jpg") no-repeat center; */
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px var(--colour-3);
}

.left{
	background: url("img/homepage.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: var(--colour-6);
	color: var(--colour-5);
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}



.field:focus{
    border: 2px solid var(--colour-6);
    background-color: var(--colour-5);
}



/*Footer Section */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    position: auto;
    text-align: center;
    padding: 5px 0;
}

#Copyright {
    font-size: 15px;
}







/* ------------- Responsive Display ------------- */

@media(max-width:768px){

    h1{
        font-size: 45px;
    }
    
    h2 {
        font-size: 35px;
    }

    p{
        font-size: 18px;
    }



    /* NAVIGATION & HAMBURGER MENU */
    .hamburger{
        position: fixed;
        top: 0; right: 0;
        display: block;
        padding: 5px 25px;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    a{
        text-decoration: none;
        /* color: var(--colour-1); */
        color: var(--colour-5);
    }

    .nav-menu{
        position:fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        /* background-color: var(--colour-2); */
        background-color: var(--colour-6);
    }

    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

    .logo{
        display: none;
    }


    /* ABOUT PAGE */
    .wrapper{
        flex-direction: column;
    }
    .image-container img{
        width: 250px;
        height: 250px;
    }

    /* SKILLS */
    .skills-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .skills-container img{
        margin-top: 8px;
        vertical-align: middle;
        width: 45%;
    }

    /* EXPERIENCE */
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }
    
    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }
    
    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }


    /* PROJECTS */
    .projects-container{
        grid-template-columns: repeat(1, 1fr);
    }

    /* CONTACT */
    .contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}



}